/* div {
    border: 2px solid red;
} */

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #303131;
}

.sidebar-header {
    color: #E8F167;
}

.sidebar-top > div:hover , .sidebar-bottom > div:hover {
    background-color: #E8F167;
    color: #000;
    border-radius: 0.5rem;
}

.main {
    margin-left:208px ;
    background-color: #272727;
}

.m-body-center{
    flex-grow: 7.8;
}

.m-body-right{
    flex-grow: 2.2;
}

.row1-balance,.row1-budget,.row1-expense{
    padding-right: 144px;
    padding-left: 24px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1.5rem;
}

.row1-budget{
    background-color: #E8F167;
    
}

.row1-balance {
    background-color: #8BF167;
}

.row1-expense{
    background-color: #1DAFA6;
}

.m-body-right{
    background-color: #303131;
}

.row2-chart-container{
    position: relative;
    background-color: #303131;
    border-radius: 1rem;
}

#row2-chart{
    width: 100%;
    max-height: 16rem;
    width: 100%;
}

